NODE_ENV=development
PORT=3333
HOST=0.0.0.0

APP_URL=http://${HOST}:${PORT}
WS_PORT=24678
LOG_LEVEL=info
APP_KEY=ncWL7mvb4OtKMoPnm7ibrWMf4dw6xns0
SESSION_DRIVER=cookie
TZ=UTC

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin123
DB_DATABASE=michelindb

POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin123
POSTGRES_DB=michelindb

ADMINER_PORT=8080
ADMINER_DEFAULT_SERVER=postgres